body {
    display:flex;

    align-items: center;
    flex-direction: column;
    background-color: gray;
}

.display {
    display:flex;
    width: 800px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid red;
    padding: 10px;

    justify-content: right;
    align-items: center;
    font-size:48px;
    color:white;
}

.buttons {
    display:flex;
    width: 800px;
    height: 1000px;
    border: 10px solid orange;

    justify-content: center;
    align-items: center;
}

.leftHalf {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 1000px;
    border: 4px solid green;
}

.leftRow {
    display: flex;
    flex: 1;
    border: 4px solid yellow;
}

.rightHalf {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 1000px;
    border: 4px solid green;
}

.key {
    display: flex;
    flex:1;
    font-family: sans-serif;
    color: white;

    border: 4px solid turquoise;
    justify-content: center;
    align-items: center;

    font-size: 48px;
}
#zero {
    flex:2;
}
#clear {
    flex:1;
}
#enter {
    flex:2;
}
#add {
    flex:2;
}