body {
    display:flex;

    align-items: center;
    flex-direction: column;
    background-color: gray;
}

.display {
    display:flex;
    width: 800px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid red;
}

.buttons {
    display:flex;
    width: 800px;
    height: 1000px;
    border: 10px solid orange;

    justify-content: center;
    align-items: center;
}

.leftHalf {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 1000px;
    border: 4px solid green;
}

.leftRow {
    display: flex;
    flex: 1;
    border: 4px solid yellow;
}

.rightHalf {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 1000px;
    border: 4px solid green;
}

.key {
    display: flex;
    flex:1;

    border: 4px solid turquoise;
}
#zero {
    flex:2;
}
#enter {
    flex:3;
}
#add {
    flex:2;
}